<div fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutGap="15px" fxFlex="100%" fxFlex.gt-md="1000px">
    <mat-card>
      <mat-card-content>

        <h1 class="mat-h1">EURO Pool</h1>

        <p>Welcome to my small european pool made in germany running on a high available infrastructure in Falkenstein. Original since 2021. Please consider supporting small self-made pools instead of staking on multi million dollar companies.</p>

        <p>My name is peter and i love technology so i was curious about running a staking pool. Every epoch i sit here and generate leader logs to predict when this pool is elected to mint a block to observe the pool operation in this timeframe with belt and braces.</p>

        <p>Still waiting for my first staker =) i hope you stay with me! We won't get rewards in any epoch, but we have a 4% chance each epoch, and when we win we share the big block on our own!</p>

        <p>Contact me via Telegram: <a href="https://t.me/joinchat/XrlIF21NDzAyODUy" data-type="URL" data-id="https://t.me/joinchat/XrlIF21NDzAyODUy">https://t.me/joinchat/XrlIF21NDzAyODUy</a></p>

        <p>
          <iframe src="https://js.adapools.org/widget.html?pool=3bd3996595321d951291b11e1331061c5d8659d9e69390536dfc922c" width="100%" height="400" frameborder="0"><a href="https://adapools.org/pool/3bd3996595321d951291b11e1331061c5d8659d9e69390536dfc922c">Detail</a></iframe>
        </p>

        <p>
          <iframe src="https://dashboard.cardano-tools.io/d/Tkk24NwMk/euro-dashboard?orgId=1&amp;refresh=5s" width="100%" height="8100" frameborder="0"></iframe>
        </p>

      </mat-card-content>
    </mat-card>
  </div>
</div>
