<div class="flex justify-center items-center">
  <div class="w-full xl:w-[1200px]">
    <mat-card>
      <mat-card-content>
        <h1 class="mat-h1">CHIEN Pool</h1>

        <p>
          Join Charly&Aliens alliance to earn additional
          <a target="_blank" href="https://charly-token.io/">$Charly</a>,
          $Alien, $Ptc and
          <a target="_blank" href="https://www.wolfcardano.io/">$WOLF</a> tokens
          on tosidrop.io and belive with us!
        </p>

        <p>
          EURO-Pool started in 2020 out of curiosity for the cardano blockchain.
          After getting more and more excited about the tech cardano-tools.io
          was created to help others to use the advantages of cardano without
          hacking the console. It's features gets continiously extended and
          improved with the help of the community. Later, the community
          established the Charly project, which collaborated with the Aliens
          team. Together, they began supporting the Euro Pool. During this
          collaboration, they found a more fitting name and officially
          established the Charly&Aliens alliance.
        </p>

        <p>
          In terms of decentralization the $WOLF and $Charly communities started
          to support EURO-Pool and give delegators incentive with their tokens
          to switch from big pools to small pools like this. Meanwhile, the
          communities continue to work to increase the value of the tokens to
          allow people to continue doing good with them and supporting the
          cardano network.
        </p>

        <p>
          <b
            >Stake with Charly&Aliens alliance to support the further
            development of cardano-tools.io,Charly-token.io and Alien project.
            Help cover the running costs and earn $Charly,$Alien,$Wolf and $PTc
            tokens along the way! Surplus fixed costs are of course returned to
            stakers!</b
          >
        </p>

        <p>
          Contact us via Telegram:
          <a target="_blank" href="https://t.me/joinchat/XrlIF21NDzAyODUy"
            >https://t.me/joinchat/XrlIF21NDzAyODUy</a
          >
        </p>

        <p>
          <iframe
            width="100%"
            height="320"
            frameborder="0"
            src="https://img.cexplorer.io/w/widget.html?pool=pool180fejev4xgwe2y53ky0pxvgxr3wcvkweu6feq5mdljfzcsmtg6u&theme=dark"
            ><a
              href="https://cexplorer.io/pool/pool180fejev4xgwe2y53ky0pxvgxr3wcvkweu6feq5mdljfzcsmtg6u"
              >pool detail on cexplorer.io</a
            ></iframe
          >
        </p>

        <p>
          <iframe
            src="https://dashboard.cardano-tools.io/d/Tkk24NwMk/euro-dashboard?orgId=1&amp;refresh=5s"
            width="100%"
            height="1000"
            frameborder="0"
          ></iframe>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
