<div fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutGap="15px" fxFlex="100%" fxFlex.gt-md="1000px">
    <mat-card>
      <mat-card-content>
        <h1 class="mat-h1">EURO Pool</h1>

        <p>
          Join EURO-Pool to earn additional
          <a target="_blank" href="https://www.wolfcardano.io/">$WOLF</a> and
          <a target="_blank" href="https://charly-token.io/">$Charly</a> tokens
          on taptools.io!
        </p>

        <p>
          EURO-Pool started in 2020 out of curiosity for the cardano blockchain.
          After getting more and more excited about the tech cardano-tools.io
          was created to help others to use the advantages of cardano without
          hacking the console. It's features gets continiously extended and
          improved with the help of the community.
        </p>

        <p>
          In terms of decentralization the
          <a target="_blank" href="https://www.wolfcardano.io/">$WOLF</a> and
          <a target="_blank" href="https://charly-token.io/">$Charly</a>
          communities started to support EURO-Pool and give delegators incentive
          with their tokens to switch from big pools to small pools like this.
          Meanwhile, the communities continue to work to increase the value of
          the tokens to allow people to continue doing good with them and
          supporting the cardano network.
        </p>

        <p>
          <b
            >Stake with EURO-Pool to support the further development of
            cardano-tools.io, help cover the running costs and earn
            <a target="_blank" href="https://www.wolfcardano.io/">$WOLF</a> and
            <a target="_blank" href="https://charly-token.io/">$Charly</a>
            tokens along the way! Surplus fixed costs are of course returned to
            stakers!</b
          >
        </p>

        <p>
          Contact us via Telegram:
          <a target="_blank" href="https://t.me/joinchat/XrlIF21NDzAyODUy"
            >https://t.me/joinchat/XrlIF21NDzAyODUy</a
          >
        </p>

        <p>
          <iframe
            src="https://js.adapools.org/widget.html?pool=3bd3996595321d951291b11e1331061c5d8659d9e69390536dfc922c"
            width="100%"
            height="400"
            frameborder="0"
            ><a
              href="https://adapools.org/pool/3bd3996595321d951291b11e1331061c5d8659d9e69390536dfc922c"
              >Detail</a
            ></iframe
          >
        </p>

        <p>
          <iframe
            src="https://dashboard.cardano-tools.io/d/Tkk24NwMk/euro-dashboard?orgId=1&amp;refresh=5s"
            width="100%"
            height="8100"
            frameborder="0"
          ></iframe>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
