<mat-card>
    <mat-card-content>
        <h2>{{token.assetName}}</h2>

        <div class="preview" fxLayout="row" fxLayoutAlign="center center">
            <img *ngIf="metaData['image']?.value" [src]="toIpfsUrl(metaData['image'].value)" alt="Loading...">
            <audio controls *ngIf="metaData['audio']?.value" [src]="toIpfsUrl(metaData['audio'].value)"></audio>
            <video controls *ngIf="metaData['video']?.value" [src]="toIpfsUrl(metaData['video'].value)"></video>
            <div>
                <mat-icon class="big-icon" color="primary" *ngIf="metaData['binary']?.value" fontSet="material-icons-outlined">description</mat-icon>
            </div>
        </div>

        <table mat-table [dataSource]="tableData" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" fxHide></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </mat-card-content>
</mat-card>
