<mat-card>
  <mat-card-content>
    <h2>{{ token.assetName }}</h2>

    <div class="preview" fxLayout="row" fxLayoutAlign="center center">
      <img *ngIf="previewType.startsWith('image')" [src]="previewUrl" />
      <audio
        *ngIf="previewType.startsWith('audio')"
        controls
        [src]="previewUrl"
      ></audio>
      <video
        *ngIf="previewType.startsWith('video')"
        controls
        [src]="previewUrl"
      ></video>
      <iframe
        loading="lazy"
        *ngIf="previewType.startsWith('text')"
        [src]="previewUrl"
      ></iframe>
      <div>
        <mat-icon
          class="big-icon"
          color="primary"
          *ngIf="metaData['binary']?.value"
          fontSet="material-icons-outlined"
          >description</mat-icon
        >
      </div>
    </div>

    <table mat-table [dataSource]="tableData">
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element">
          {{ element.name | titlecase }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let element">{{ element.value }}</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
