<div class="flex flex-col items-center" *ngIf="publicDropInfo">
  <div class="w-full xl:w-[1000px] flex flex-col gap-4">
    <mat-card>
      <mat-card-content
        *ngIf="!publicDropInfo.running || publicDropInfo.left === 0"
      >
        <h1>{{ publicDropInfo.name }}</h1>
        <p>Sorry drop is currently stopped.</p>
      </mat-card-content>

      <mat-card-content
        *ngIf="publicDropInfo.running && publicDropInfo.left > 0"
      >
        <h1>{{ publicDropInfo.name }}</h1>

        <p>
          A collection of {{ publicDropInfo.total }} NFTs, hurry there are only
          {{ publicDropInfo.left }} NFTs at
          {{ publicDropInfo.price / 1000000 | number : "1.0-6" }} ₳ left!
        </p>

        <h2>Mint</h2>

        <div class="flex flex-col mb-4">
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <mat-select [(ngModel)]="amount">
              <mat-option
                *ngFor="let amount of availableAmounts"
                [value]="amount"
              >
                {{ amount }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="pay()"
            [disabled]="minting"
          >
            <mat-icon *ngIf="!minting">savings</mat-icon>
            <mat-icon *ngIf="minting"
              ><mat-spinner diameter="18" color="accent"></mat-spinner
            ></mat-icon>

            <span>Mint</span>
          </button>
        </div>

        <h2>Terms & Conditions.</h2>
        <p>
          NFTs will be sent to your wallet address once payment is received. We
          limit maximum quantity to {{ publicDropInfo.max }} NFTs per
          Transaction. DON'T SEND FUNDS FROM AN EXCHANGE. Thanks
        </p>

        <h2>PolicyId</h2>
        <p>{{ publicDropInfo.policyId }}</p>
      </mat-card-content>
    </mat-card>

    <p>
      Need help? Join our
      <a target="_blank" href="https://t.me/joinchat/XrlIF21NDzAyODUy"
        >telegram channel</a
      >!
    </p>
  </div>
</div>
