<div fxLayout="column" fxLayoutGap="15px">
    <mat-card>
        <mat-card-content>
            <div>
                <p>Please fund the address<br><b class="address">{{account?.address}}</b></p>
                <p>with at least<br><b>{{minAdaBalance}}&nbsp;₳</b></p>
                <p>if you want to give a tip send at least<br><b>{{minAdaTipBalance}}&nbsp;₳</b></p>
            </div>
            <p>
                Curent balance
                <br>
                <span fyLayout="row" fxLayoutAlign="start center">
                    <b>{{adaBalance}}&nbsp;₳</b>
                    <mat-icon class="green" [fxShow]="adaBalanceInput.valid">done</mat-icon>
                    <mat-icon color="warn" [fxShow]="adaBalanceInput.invalid">dangerous</mat-icon>
                </span>
            </p>
            <p>
                <b>For security reasons don't fund more than 10&nbsp;₳!</b>
            </p>
            <mat-form-field fxHide>
                <input #adaBalanceInput="ngModel" matInput type="number" [ngModel]="adaBalance" name="adaBalance"
                    [appMinValidator]="1">
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <button mat-raised-button color="accent" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
            Refresh
        </button>
        <button [disabled]="adaBalanceInput.invalid" mat-raised-button color="primary" matStepperNext>
            <mat-icon>fast_forward</mat-icon>
            Proceed
        </button>
    </div>
</div>