<p *ngIf="showTip">
  <mat-checkbox
    name="tip"
    [(ngModel)]="mintOrderSubmission.tip"
    (change)="emitUpdateMintTransaction()"
    >I give a tip to the [EURO]-Pool pledge</mat-checkbox
  >
</p>

<p *ngIf="showPin">
  <mat-checkbox
    name="pin"
    [(ngModel)]="mintOrderSubmission.pin"
    (change)="emitUpdateMintTransaction()"
    matTooltip="Otherwise you have to take care of yourself that the files are pinned"
    >Pin IPFS files</mat-checkbox
  >
</p>

<!-- fund instruction-->
<p>
  Please send at least
  <b
    *ngIf="showTooltip"
    matTooltip="{{ adaFee }}&nbsp;₳ fees, {{
      adaMinOutput
    }}&nbsp;₳ will be sent back to your address, {{
      adaPinFee
    }}&nbsp;₳ will be used to pin the files"
    >{{ minAdaBalance | number : "1.0-6" }}&nbsp;₳</b
  >
  <b *ngIf="!showTooltip">{{ minAdaBalance | number : "1.0-6" }}&nbsp;₳</b>
  <button class="inline-button" mat-icon-button (click)="copyFunds()">
    <mat-icon>content_copy</mat-icon>
  </button>
  to this address
</p>

<p class="flex flex-row items-center justify-center">
  <b class="address">{{ account?.address?.address }}</b>
  <button mat-icon-button (click)="copyAddressToClipboard()">
    <mat-icon>content_copy</mat-icon>
  </button>
</p>

<!-- current balance -->
<p>
  <span class="flex flex-row items-center justify-start gap-1">
    <mat-icon class="green" *ngIf="adaBalanceInput.valid">done</mat-icon>
    <mat-icon color="warn" *ngIf="adaBalanceInput.invalid">dangerous</mat-icon>
    <span>Curent address balance </span>
    <b>{{ adaBalance | number : "1.0-6" }}&nbsp;₳</b>
  </span>
</p>

<p
  *ngIf="
    adaBalanceInput.valid &&
    fundingAddresses?.length == 0 &&
    requesttargetAddress
  "
>
  <span class="flex flex-row items-center justify-start gap-1">
    <mat-icon color="warn">dangerous</mat-icon>
    <span>Waiting for target address... </span>
  </span>
</p>

<p *ngIf="mintTransaction.txSize <= 16384">
  <span class="flex flex-row items-center justify-start gap-1">
    <mat-icon class="green">done</mat-icon>
    <span
      >Your transaction size is currently at
      {{ niceBytes(mintTransaction.txSize) }} ({{
        mintTransaction.txSize / 16384 | percent
      }})</span
    >
  </span>
</p>
<p *ngIf="mintTransaction.txSize > 16384">
  <span class="flex flex-row items-center justify-start gap-1">
    <mat-icon color="warn">dangerous</mat-icon>
    <span
      >Your transaction exceeds the maximum size, please remove tokens or
      metadata, the threshold is currently at
      {{ mintTransaction.txSize / 16384 | percent }}</span
    >
  </span>
</p>

<!-- receiver address-->
<mat-form-field
  appearance="outline"
  style="width: 100%; max-width: 850px"
  *ngIf="requesttargetAddress"
>
  <mat-label>Send tokens to</mat-label>
  <mat-select
    placeholder="Select target address"
    [(ngModel)]="mintOrderSubmission.targetAddress"
    #targetAddressInput="ngModel"
    name="targetAddress"
    (selectionChange)="emitUpdateMintTransaction()"
    required
  >
    <mat-option *ngFor="let address of fundingAddresses" [value]="address">
      {{ address }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- hidden validator -->
<mat-checkbox
  class="cdk-visually-hidden"
  [ngModel]="adaBalance >= minAdaBalance"
  name="adaBalanceInput"
  #adaBalanceInput="ngModel"
  required
></mat-checkbox>
<mat-checkbox
class="cdk-visually-hidden"
  [ngModel]="mintTransaction.txSize <= 16384"
  name="txSizeInput"
  #txSizeInput="ngModel"
  required
></mat-checkbox>
