.green {
  color: green;
}

.inline-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  mat-icon {
    font-size: 15px;
  }
}

.hazard-border {
  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    )
    10;
  padding: 10px;
  margin-bottom: 12px;
}
