<mat-card>
  <mat-card-content>
    <div class="title">
      <span *ngIf="token.metaData['name']">{{token.metaData['name']}}</span>
      <span *ngIf="!token.metaData['name']">{{token.name}}</span>
    </div>


    <div [className]="isLoadingImage() || !hasMedia() ? 'preview min-height' : 'preview'">



      <div class="centered-icon-wrapper blink" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoadingImage()">
        <mat-icon class="big-icon" color="primary" fontSet="material-icons-outlined">
          image
        </mat-icon>
      </div>

      <img *ngIf="token.mediaTypes[0] == 'image'" [src]="token.mediaUrls[0]" (load)="onLoad()" loading="lazy">
      <audio controls *ngIf="token.mediaTypes[0] == 'audio'" [src]="token.mediaUrls[0]" (load)="onLoad()"></audio>
      <video controls *ngIf="token.mediaTypes[0] == 'video'" [src]="token.mediaUrls[0]" (load)="onLoad()"></video>
      <iframe *ngIf="token.mediaTypes[0] == 'html'" [src]="token.mediaUrls[0]" (load)="onLoad()"></iframe>

      <div class="centered-icon-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="!hasMedia()">
        <mat-icon class="big-icon" color="primary" fontSet="material-icons-outlined">generating_tokens</mat-icon>
      </div>

      <div *ngIf="token.tokenRegistryMetadata" class="title">
        <mat-icon class="verified-icon" fontSet="material-icons-outlined">verified</mat-icon>
      </div>

    </div>

    <div *ngIf="token.quantity > 1" class="title">
      {{token.quantity}}x
    </div>




  </mat-card-content>
</mat-card>
