.min-height {
  min-height: 150px;
}

.verified-icon {
  font-size: 50px;
  line-height: auto;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffd700;
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  audio {
    width: 100%;
    object-fit: scale-down;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  .big-icon {
    font-size: 100px;
    line-height: auto;
    width: auto;
    height: auto;
  }
  .centered-icon-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }

  @keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .blink {
    animation: flickerAnimation 2s infinite;
  }
}

table {
  width: 100%;
  table-layout: fixed;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-name {
  width: 60px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}
