<mat-card>
  <mat-card-content>
    <div class="flex flex-col gap-2">
      <div class="title">
        {{ tokenListItem.name || tokenListItem.maName }}
      </div>

      <div class="preview">
        <!-- image -->
        <ng-container *ngIf="imageUrl; else noimage">
          <img #imagetag [src]="imageUrl" loading="lazy" />
        </ng-container>

        <!-- no image -->
        <ng-template #noimage>
          <mat-icon
            class="big-icon"
            color="primary"
            fontSet="material-icons-outlined"
            >generating_tokens</mat-icon
          >
        </ng-template>
      </div>

      <div class="icons">
        <span class="title">{{ tokenListItem.quantity }}x</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
