<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'dialog' || (isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="true && (isHandset$ | async) === false"
    (click)="drawer.mode === 'side' || drawer.close()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/europool'"> [EURO]-Pool </a>
      <a mat-list-item [routerLink]="'/latest'"> Latest Mints </a>
      <a mat-list-item [routerLink]="'/my'"> My Tokens </a>
      <a mat-list-item [routerLink]="'/exchange'"> Exchange </a>
      <a mat-list-item [routerLink]="'/mint'"> Mint </a>
      <a mat-list-item [routerLink]="'/burn'"> Burn </a>
      <a mat-list-item [routerLink]="'/register'"> Register token </a>
      <!--
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Burn </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Wallet </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Explore </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Exchange </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Timelock </a>
      -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" class="my-sidenav-content">
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="true || (isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cardano Tools</span>
      <span class="example-spacer"></span>
      <span *ngIf="account.address.balance" class="slogan">Balance: {{account.address.balance/1000000 | number: '1.0-6'}}&nbsp;₳</span>
      <span class="example-spacer"></span>
      <span class="slogan">powered by [EURO]-Pool</span>
    </mat-toolbar>
    <div class="main-content" fxLayout="column" fxLayoutGap="10px">
      <mat-card class="notice">Support cardano-tools.io by voting in FUND6: <a target="_blank" href="https://cardano.ideascale.com/a/dtd/Cardano-features-for-everyone/366731-48088">Cardano features for everyone</a></mat-card>
      <router-outlet></router-outlet>
    </div>
    <app-footer fxFlexOffset="auto"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
