<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'dialog' || (isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false && (isHandset$ | async) === false"
    (click)="drawer.mode === 'side' || drawer.close()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/mint'"> Mint </a>
      <a mat-list-item [routerLink]="'/register'"> Register token </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Burn </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Wallet </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Explore </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Exchange </a>
      <a mat-list-item [routerLink]="'/mint'" matTooltip="Comming soon"> Timelock </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="true || (isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cardano Tools</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer fxFlexOffset="auto"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>