.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  margin: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.slogan {
  font-size: small;
}

.notice {
  background-color:#dde7ff;
  text-align: center;
  font-size: x-large;
}

.mat-toolbar-single-row {
  height: 40px;
}