<div class="flex flex-col gap-2" style="padding: 1px">
  <h2 class="title">
    <div class="flex flex-row items-center">
      <span>{{ tokenListItem.name || tokenListItem.maName }}</span>
      <button
        type="button"
        mat-icon-button
        (click)="copyToClipboard(buildShareUrl())"
      >
        <mat-icon>share</mat-icon>
      </button>
      <a
        type="button"
        mat-icon-button
        [href]="buildPoolpmUrl()"
        target="_blank"
      >
        <img width="24" height="24" src="/assets/poolpm.ico" />
      </a>
    </div>
  </h2>
  <div>
    <div class="preview flex flex-row justify-center items-center">
      <img
        *ngIf="previewType.startsWith('image')"
        [src]="previewUrl"
        loading="lazy"
      />
      <audio
        controls
        *ngIf="previewType.startsWith('audio')"
        [src]="previewUrl"
      ></audio>
      <video
        controls
        *ngIf="previewType.startsWith('video')"
        [src]="previewUrl"
      ></video>
      <iframe
        loading="lazy"
        *ngIf="previewType.startsWith('text')"
        [src]="previewUrl"
      ></iframe>
      <div
        class="centered-icon-wrapper flex flex-col justify-center items-center"
        *ngIf="!previewUrl"
      >
        <mat-icon
          class="big-icon"
          color="primary"
          fontSet="material-icons-outlined"
          >generating_tokens</mat-icon
        >
      </div>
    </div>
  </div>

  <ng-content></ng-content>

  <div class="flex flex-col gap-4">
    <mat-accordion>
      <h3>Infos</h3>

      <!-- Project -->
      <!--       <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >
            Project
          </mat-panel-title>
          <mat-panel-description >
            <button type="button"  class="small-icon-button" mat-icon-button (click)="copyToClipboard(tokenDataWithMetadata?.projectMetadata?.project || 'Policy ID unknown')">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{tokenDataWithMetadata?.projectMetadata?.project || 'Policy ID unknown'}}
          </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>{{tokenDataWithMetadata?.projectMetadata?.project || 'Policy ID unknown'}}</span>
        </div>
      </mat-expansion-panel> -->

      <!-- Amount -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Amount </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <div class="flex flex-row items-center">
                <button
                  type="button"
                  mat-icon-button
                  class="small-icon-button"
                  (click)="copyToClipboard('' + tokenListItem.quantity)"
                >
                  <mat-icon>content_copy</mat-icon>
                </button>
                {{ tokenListItem.quantity }}
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>{{ tokenListItem.quantity }}</span>
        </div>
      </mat-expansion-panel>

      <!-- Fingerprint -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Fingerprint </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="copyToClipboard(tokenListItem.maFingerprint)"
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenListItem.maFingerprint }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>{{ tokenListItem.maFingerprint }}</span>
        </div>
      </mat-expansion-panel>

      <!-- assetName -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Assetname </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="copyToClipboard(tokenListItem.maName)"
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenListItem.maName | hexToString }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <a
            [routerLink]="['/latest']"
            [queryParams]="{ q: tokenListItem.maFingerprint }"
            >{{ tokenListItem.maName | hexToString }}</a
          >
        </div>
      </mat-expansion-panel>

      <!-- PolicyId -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Policy ID </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="copyToClipboard(tokenListItem.maPolicyId)"
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenListItem.maPolicyId }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <a
            [routerLink]="['/latest']"
            [queryParams]="{ q: tokenListItem.maPolicyId }"
            >{{ tokenListItem.maPolicyId }}</a
          >
        </div>
      </mat-expansion-panel>

      <!-- Policy -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Policy </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="
                  copyToClipboard(tokenDataWithMetadata?.maPolicyScript ?? '')
                "
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenDataWithMetadata?.maPolicyScript }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>
            <pre>{{ tokenDataWithMetadata?.maPolicyScript | jsonFormat }}</pre>
          </span>
        </div>
      </mat-expansion-panel>

      <!-- Lock date -->
      <mat-expansion-panel *ngIf="tokenDataWithMetadata?.lockDate">
        <mat-expansion-panel-header>
          <mat-panel-title> Lock date </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="copyToClipboard(tokenDataWithMetadata?.lockDate + '')"
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenDataWithMetadata?.lockDate | date : "medium" }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          {{ tokenDataWithMetadata?.lockDate | date : "medium" }}
        </div>
      </mat-expansion-panel>

      <!-- Locked -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Locked </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="copyToClipboard(tokenDataWithMetadata?.locked + '')"
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenDataWithMetadata?.locked }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          {{ tokenDataWithMetadata?.locked }}
        </div>
      </mat-expansion-panel>

      <!-- Total supply -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Total supply </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="
                  copyToClipboard(tokenDataWithMetadata?.totalSupply + '')
                "
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenDataWithMetadata?.totalSupply }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          {{ tokenDataWithMetadata?.totalSupply }}
        </div>
      </mat-expansion-panel>

      <!-- TxId -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Transaction </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="copyToClipboard(tokenDataWithMetadata?.txHash + '')"
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenDataWithMetadata?.txHash }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <a
            href="https://cexplorer.io/search?query={{
              tokenDataWithMetadata?.txHash
            }}"
            target="_blank"
            >{{ tokenDataWithMetadata?.txHash }}</a
          >
        </div>
      </mat-expansion-panel>

      <!-- Registered Data
      <mat-expansion-panel *ngIf="tokenRegistryMetadataFormatted">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Reg. Data
          </mat-panel-title>
          <mat-panel-description >
            <button type="button"  class="small-icon-button" mat-icon-button (click)="copyToClipboard(tokenRegistryMetadataFormatted)">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{tokenRegistryMetadataFormatted}}
          </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
          <pre>{{tokenRegistryMetadataFormatted}}</pre>
        </span>
      </mat-expansion-panel> -->

      <!-- Registered Data Logo 
      <mat-expansion-panel *ngIf="tokenDataWithMetadata?.tokenRegistryMetadata">
        <mat-expansion-panel-header>
          <mat-panel-title >
            Reg. Logo
          </mat-panel-title>
          <mat-panel-description >
            <img width="20" height="20" src="data:image/gif;base64,{{tokenDataWithMetadata?.tokenRegistryMetadata.logo}}">
          </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
          <img src="data:image/gif;base64,{{tokenDataWithMetadata?.tokenRegistryMetadata.logo}}">
        </span>
      </mat-expansion-panel>-->

      <!-- Timestamp -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Created at </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <button
                type="button"
                class="small-icon-button"
                mat-icon-button
                (click)="copyToClipboard(tokenDataWithMetadata?.timestamp + '')"
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              {{ tokenDataWithMetadata?.timestamp | date : "medium" }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          {{ tokenDataWithMetadata?.timestamp | date : "medium" }}
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf="tableData.length">
      <h3>
        Metadata
        <button
          type="button"
          class="small-icon-button"
          mat-icon-button
          (click)="copyMetadataToClipboard()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </h3>
      <mat-expansion-panel *ngFor="let element of tableData">
        <mat-expansion-panel-header fxLayout="row">
          <mat-panel-title>
            {{ element.name | titlecase }}
          </mat-panel-title>
          <mat-panel-description>
            <div class="flex flex-row items-center">
              <span>
                <button
                  type="button"
                  class="small-icon-button"
                  mat-icon-button
                  (click)="copyToClipboard(element.value)"
                >
                  <mat-icon>content_copy</mat-icon>
                </button>
                {{ element.value }}
              </span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>
            <pre>{{ element.value }}</pre>
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
