<div fxLayout="column" fxLayoutGap="10px" style="padding: 1px;">

  <h2 class="title">
    <span *ngIf="token.metaData['name']">{{token.metaData['name']}} ({{token.name}})</span>
    <span *ngIf="!token.metaData['name']">{{token.name}}</span>
  </h2>

  <div class="preview" fxLayout="row" fxLayoutAlign="center center">

    <div class="centered-icon-wrapper blink" fxLayout="column" fxLayoutAlign="center center" *ngIf="loading && token.metaData['image']">
      <mat-icon class="big-icon" color="primary" fontSet="material-icons-outlined">
        image
      </mat-icon>
    </div>

    <img *ngIf="previewType.startsWith('image')" [src]="previewUrl" (load)="onLoad()" loading="lazy">
    <audio controls *ngIf="previewType.startsWith('audio')" [src]="previewUrl" (load)="onLoad()"></audio>
    <video controls *ngIf="previewType.startsWith('video')" [src]="previewUrl" (load)="onLoad()"></video>
    <iframe loading="lazy" *ngIf="previewType.startsWith('text')" [src]="previewUrl" (load)="onLoad()"></iframe>

    <div class="centered-icon-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="token.mediaTypes.length == 0">
      <mat-icon class="big-icon" color="primary" fontSet="material-icons-outlined">generating_tokens</mat-icon>
    </div>

  </div>

  <ng-content></ng-content>

  <div fxLayout="column" fxLayoutGap="20px">

    <mat-accordion>
      <h3>Trusted data</h3>

      <!-- Project -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Project
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.projectMetadata?.project || 'Unknown, maybe fake')">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.projectMetadata?.project || 'Policy ID unknown, maybe fake'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>{{token.projectMetadata?.project || 'Unknown, maybe fake'}}</span>
        </div>
      </mat-expansion-panel>

      <!-- Amount -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Amount
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard('' + token.quantity)">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.quantity}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>{{token.quantity}}</span>
        </div>
      </mat-expansion-panel>

      <!-- Fingerprint -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Fingerprint
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.fingerprint)">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.fingerprint}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>{{token.fingerprint}}</span>
        </div>
      </mat-expansion-panel>

      <!-- PolicyId -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Policy ID
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.policyId)">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.policyId}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <a [routerLink]="['/latest']" [queryParams]="{q:token.policyId}">{{token.policyId}}</a>
        </div>
      </mat-expansion-panel>

      <!-- Policy -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Policy
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.policy || '')">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.policy}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>
            <pre>{{token.policy}}</pre>
          </span>
        </div>
      </mat-expansion-panel>

      <!-- Lock date -->
      <mat-expansion-panel *ngIf="token.lockDate">
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Lock date
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.lockDate + '')">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.lockDate | date : 'medium'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          {{token.lockDate | date : 'medium'}}
        </div>
      </mat-expansion-panel>

      <!-- Locked -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Locked
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.locked + '')">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.locked}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          {{token.locked}}
        </div>
      </mat-expansion-panel>

      <!-- Total supply -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Total supply
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.totalSupply + '')">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.totalSupply}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          {{token.totalSupply}}
        </div>
      </mat-expansion-panel>


      <!-- TxId -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            TX ID
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.txId)">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.txId}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <a href="https://explorer.cardano.org/en/transaction?id={{token.txId}}" target="_blank">{{token.txId}}</a>
        </div>
      </mat-expansion-panel>

      <!-- Registered Data -->
      <mat-expansion-panel *ngIf="tokenRegistryMetadataFormatted">
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Reg. Data
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(tokenRegistryMetadataFormatted)">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{tokenRegistryMetadataFormatted}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
          <pre>{{tokenRegistryMetadataFormatted}}</pre>
        </span>
      </mat-expansion-panel>

      <!-- Registered Data Logo -->
      <mat-expansion-panel *ngIf="token.tokenRegistryMetadata">
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Reg. Logo
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <img width="20" height="20" src="data:image/gif;base64,{{token.tokenRegistryMetadata.logo}}">
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
          <img src="data:image/gif;base64,{{token.tokenRegistryMetadata.logo}}">
        </span>
      </mat-expansion-panel>


      <!-- Timestamp -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="100px">
            Created at
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(token.txId)">
              <mat-icon>content_copy</mat-icon>
            </button>
            {{token.timestamp | date : 'medium'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          {{token.timestamp | date : 'medium'}}
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf="tableData.length">
      <h3>Custom data <button type="button" class="inline-button" mat-icon-button (click)="copyMetadataToClipboard()">
          <mat-icon>content_copy</mat-icon>
        </button></h3>
      <mat-expansion-panel *ngFor="let element of tableData">
        <mat-expansion-panel-header fxLayout="row">
          <mat-panel-title fxFlex="100px">
            {{element.name | titlecase }}
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(element.value)">
                <mat-icon>content_copy</mat-icon>
              </button>
              {{element.value}}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <span>
            <pre>{{element.value}}</pre>
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
