<h2 mat-dialog-title>Advanced settings</h2>

<mat-dialog-content>
  <!-- Metadata -->
  <div>
    <mat-form-field fxFlex appearance="outline" fxFlex="100%">
      <mat-label>Metadata</mat-label>
      <textarea
        matInput
        name="metadata"
        [mat-autosize]="true"
        [cdkAutosizeMinRows]="13"
        [(ngModel)]="metaDataJson"
      ></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="format()">Format</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="apply()" cdkFocusInitial>Apply</button>
</mat-dialog-actions>
