<div *ngIf="account.stake < minStake">

  <h2>Verify to create offers</h2>

  <p>
    Please stake at least
    <b>100&nbsp;₳</b>
    <button class="inline-button" mat-icon-button (click)="copyToClipboard('100')">
      <mat-icon>content_copy</mat-icon>
    </button>
    on <b>[EURO]-Pool</b>
    <button class="inline-button" mat-icon-button (click)="copyToClipboard('EURO')">
      <mat-icon>content_copy</mat-icon>
    </button>
    with pool-address <b>pool180fejev4xgwe2y53ky0pxvgxr3wcvkweu6feq5mdljfzcsmtg6u</b>
    <button class="inline-button" mat-icon-button (click)="copyToClipboard('pool180fejev4xgwe2y53ky0pxvgxr3wcvkweu6feq5mdljfzcsmtg6u')">
      <mat-icon>content_copy</mat-icon>
    </button>
    in order to create offers. No further fees (besides network) will be charged.
  </p>

  <p>
    In order to prove your delegation send <b>1&nbsp;₳</b>
    <button class="inline-button" mat-icon-button (click)="copyToClipboard('100')">
      <mat-icon>content_copy</mat-icon>
    </button>
    from the delegated wallet to
    <b>{{account.address.address}}</b>
    <button class="inline-button" mat-icon-button (click)="copyToClipboard(account.address.address)">
      <mat-icon>content_copy</mat-icon>
    </button>
    .
  </p>

  <p fxLayout="row" fxLayoutAlign="start center">
    <span>Your current stake <b>{{account.stake/1000000 | number: '1.0-6'}}&nbsp;₳</b>.</span>&nbsp;<mat-spinner [diameter]="20" style="display: inline-block;"></mat-spinner>
  </p>

  <div>
    <b>TIP</b> If you dont want to delegate your main-wallet to <b>[EURO]-Pool</b> just
    <ul>
      <li>Create a side-wallet</li>
      <li>Fund it with at least <b>100&nbsp;₳</b></li>
      <li>Delegate it to <b>[EURO]-Pool</b></li>
      <li>Send send <b>1&nbsp;₳</b>
        <button class="inline-button" mat-icon-button (click)="copyToClipboard('100')">
          <mat-icon>content_copy</mat-icon>
        </button>
        from the side-wallet to
        <b>{{account.address.address}}</b>
        <button class="inline-button" mat-icon-button (click)="copyToClipboard(account.address.address)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </li>
    </ul>
  </div>

  <p>
    Need help? Join our <a target="_blank" href="https://t.me/joinchat/XrlIF21NDzAyODUy">telegram channel</a>!
  </p>

  <div>
    Helpful links
    <ul>
      <li><a target="_blank" href="https://forum.cardano.org/t/staking-and-delegating-for-beginners-a-step-by-step-guide/36681">How-to stake with Daedalus</a></li>
      <li><a target="_blank" href="https://daedaluswallet.io/en/download/">Download Daedalus</a></li>
      <li><a target="_blank" href="https://medium.com/infstones/cardano-delegation-tutorial-delegating-tokens-for-infstones-a14365af7a07">How-to stake with Yoroi</a></li>
      <li><a target="_blank" href="https://yoroi-wallet.com/#/">Download Yoroi</a></li>
    </ul>
  </div>
</div>

<div *ngIf="account.stake >= minStake">
  <h2>Choose token to offer</h2>
  <div fxLayout="row" fxLayoutAlign="center" style="padding-bottom: 10px;">
    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="center top" fxFlex="0 1 1200px" fxFlex.lt-md="100%">
      <div fxFlex="100%" fxFlex.gt-xs="300px" *ngFor="let token of myTokens; let i = index">
        <app-latest-tokens-mini [token]="token" (click)="details(token)">
          <b style="float: right" *ngIf="offeredTokens[token.policyId + token.name]">{{offeredTokens[token.policyId + token.name].price/1000000 | number: '1.0-6'}}&nbsp;₳</b>
        </app-latest-tokens-mini>
      </div>
    </div>
  </div>
</div>
