<div class="flex justify-center">
  <div class="w-full xl:w-[1000px] flex flex-col gap-4">
    <mat-card>
      <mat-card-content>
        <h2>Burn NFTs of your unlocked policies</h2>

        <form #instructionsForm="ngForm">
          <!-- POLICY -->
          <app-policy-selector
            [createPolicies]="false"
            (changedPolicyId)="changePolicyId($event)"
          >
          </app-policy-selector>

          <!-- fund instruction-->
          <p>Please send tokens of selected policy to this address</p>

          <p class="flex justify-center items-center">
            <b class="address">{{ account?.address?.address }}</b>
            <button
              mat-icon-button
              (click)="copyToClipboard(account!.address.address)"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
          </p>

          <h2>Tokens to burn</h2>
          <div *ngIf="!filteredTokens.length">Currently no tokens received</div>
          <div class="flex justify-center">
            <div
              class="flex flex-wrap gap-4 justify-center w-full xl:w-[1200px]"
            >
              <ng-container *ngFor="let token of filteredTokens; let i = index">
                <div class="w-full sm:w-[280px]">
                  <app-latest-tokens-mini
                    [tokenListItem]="token"
                    (click)="details(token)"
                  ></app-latest-tokens-mini>
                </div>
              </ng-container>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <div class="flex gap-2">
      <button mat-raised-button color="accent" (click)="updateTokens()">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="instructionsForm.invalid"
        (click)="burn()"
        [disabled]="!filteredTokens.length"
      >
        <mat-icon>local_fire_department</mat-icon>
        <span>Burn</span>
      </button>
    </div>

    <p>
      Need help? Join our
      <a target="_blank" href="https://t.me/joinchat/XrlIF21NDzAyODUy"
        >telegram channel</a
      >!
    </p>
  </div>
</div>
