<div class="flex justify-center">
  <div class="w-full xl:w-[1000px] flex flex-col gap-4">
    <mat-card>
      <mat-card-content>
        <h2>Burn NFTs of your unlocked policies</h2>

        <form #instructionsForm="ngForm">
          <!-- POLICY -->
          <app-policy-selector
            [createPolicies]="false"
            (changedPolicyId)="changePolicyId($event)"
          >
          </app-policy-selector>

          <h2>Tokens to burn</h2>
          <div *ngIf="!tokens.length">
            Currently no tokens in your connected wallet
          </div>
          <div class="flex justify-center">
            <div
              class="flex flex-wrap gap-4 justify-center w-full xl:w-[1200px]"
            >
              <ng-container *ngFor="let token of tokens; let i = index">
                <div class="w-full sm:w-[280px]">
                  <app-latest-tokens-mini
                    [tokenListItem]="token"
                    (click)="details(token)"
                  ></app-latest-tokens-mini>
                </div>
              </ng-container>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <div class="flex gap-2">
      <button
        mat-raised-button
        color="primary"
        [disabled]="instructionsForm.invalid"
        (click)="burn()"
        [disabled]="!tokens.length"
      >
        <mat-icon>local_fire_department</mat-icon>
        <span>Burn</span>
      </button>
    </div>

    <p>
      Need help? Join our
      <a target="_blank" href="https://t.me/joinchat/XrlIF21NDzAyODUy"
        >telegram channel</a
      >!
    </p>
  </div>
</div>
