<mat-dialog-content>

  <app-token-details [token]="token">

    <h3>Offer</h3>

    <form #sellForm="ngForm" (ngSubmit)="sell()">
      <div fxLayout="row" fxLayoutGap="20px">

        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Price</mat-label>
          <input matInput [(ngModel)]="price" type="number" [appMinValidator]="2" [appMaxValidator]="100000" required name="price">
          <span matPrefix>₳&nbsp;</span>
        </mat-form-field>

        <button *ngIf="!tokenOffer" mat-raised-button color="accent" [disabled]="sellForm.invalid || loading">
          Offer
        </button>
        <button *ngIf="tokenOffer" mat-raised-button color="accent" [disabled]="sellForm.invalid || loading">
          Update
        </button>
        <button *ngIf="tokenOffer" mat-raised-button color="warn" type="button" (click)="cancel()" [disabled]="loading">
          Cancel
        </button>

      </div>
    </form>

    <p>
      Need help? Join our <a target="_blank" href="https://t.me/joinchat/XrlIF21NDzAyODUy">telegram channel</a>!
    </p>


  </app-token-details>

</mat-dialog-content>
