mat-card {
    height: 100%;
    box-sizing: border-box;
  }

  .upload-wrapper {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }

  label {
    cursor: pointer;
    outline: 2px dashed rgb(224, 224, 224);
  }

  .dropArea {
    width: 100%;
    height: 100%;
    svg {
      width: 75%; 
      height: 75%; 
      fill:rgb(224, 224, 224);
    }
    
  }

  .preview {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
    audio {
      width: 100%;
    }
    video {
      width: 100%;
    }
  }