<div fxLayout="column" fxLayoutGap="15px">
    <mat-card>
        <mat-card-content>
            <div>
                <p><b>{{mintTransaction.mintOrderSubmission.tokens.length}}</b> token will be mint</p>

                <p>
                    The tokens will be sent to <b class="address">{{mintTransaction.mintOrderSubmission.targetAddress}}</b>
                </p>

                <p *ngIf="mintTransaction.mintOrderSubmission.changeAction == 'RETURN'">
                    The change of <b>{{adaChange | number: '1.0-6'}}&nbsp;₳</b> will also be sent to this address
                </p>
                <p *ngIf="mintTransaction.mintOrderSubmission.changeAction == 'KEEP'">
                    The change of <b>{{adaChange | number: '1.0-6'}}&nbsp;₳</b> will be kept in account address <b class="address">{{account.address}}</b> to use it later
                </p>
                <p *ngIf="mintTransaction.mintOrderSubmission.changeAction == 'TIP'">
                    The change of <b>{{adaChange | number: '1.0-6'}}&nbsp;₳</b> will be sent to the [EURO]-Pool pledge. <b>Thank you!</b><br>
                </p>

                <mat-accordion class="example-headers-align">

                    <!-- Policy -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Policy
                            </mat-panel-title>
                            <mat-panel-description>
                                {{mintTransaction.policyId}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <pre>{{mintTransaction.policyId}}</pre>
                        <pre>{{mintTransaction.policy}}</pre>
                    </mat-expansion-panel>

                    <!-- Metadata -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Metadata
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <pre>{{mintTransaction.metaDataJson}}</pre>
                    </mat-expansion-panel>

                    <!-- Outputs -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Tx Outputs
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <pre>{{mintTransaction.outputs}}</pre>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </mat-card-content>
    </mat-card>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" matStepperNext (click)="mint()">
            <mat-icon>savings</mat-icon>
            Mint
        </button>
    </div>
</div>