<h1 class="mat-h1">Latest Cardano NFTs</h1>

<p fxLayout="row" fxLayoutAlign="center" class="search-box">
  <mat-form-field appearance="outline" fxFlex="90%" fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex.gt-lg="20%">
    <input matInput placeholder="Search token name or policy id" [(ngModel)]="searchInput" (keyup)="search($event)">
  </mat-form-field>
</p>

<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="center top" infiniteScroll (scrolled)="onScroll()" [infiniteScrollDistance]="3" infiniteScrollContainer=".my-sidenav-content" [fromRoot]="true" fxFlex="0 1 1200px" fxFlex.lt-md="100%">
    <ng-container *ngFor="let token of latestTokens; let i = index">
      <div class="policyId" fxFlex="100%" *ngIf="i == 0 || (token.policyId != latestTokens[i-1].policyId)">
        <a [routerLink]="['/latest']" [queryParams]="{q:token.policyId}"> {{calculateTime(token.epochNo, token.epochSlotNo) | date : 'medium'}} </a>
      </div>
      <div fxFlex="100%" fxFlex.gt-xs="300px">
        <a href="javascript:void(0)" (click)="details(token)">
          <app-latest-tokens-mini [token]="token"></app-latest-tokens-mini>
        </a>
      </div>
    </ng-container>
  </div>
</div>
