<h2 mat-dialog-title>Success</h2>

<mat-dialog-content>
  <p>
    Your Pull-Request has been created:
    <a target="_blank" href="{{ tokenRegistration }}">{{
      tokenRegistration
    }}</a>
  </p>
  <p>
    Blease be patient, your request will be reviewed manually:
    <a
      target="_blank"
      href="https://github.com/cardano-foundation/cardano-token-registry/wiki/Why-hasn%27t-my-pull-request-%28PR%29-been-merged-yet%3F"
      >https://github.com/cardano-foundation/cardano-token-registry/wiki/Why-hasn%27t-my-pull-request-%28PR%29-been-merged-yet%3F</a
    >
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
