<h1 class="mat-h1">My Tokens</h1>

<p
  class="search-box flex justify-center gap-2"
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <mat-form-field appearance="outline" class="w-full xl:w-[600px]">
    <input
      matInput
      placeholder="Enter your staking or any used address"
      [(ngModel)]="myaddress"
    />
  </mat-form-field>
  <span>
    <button
      mat-fab
      color="accent"
      style="height: 55px"
      type="button"
      (click)="update()"
    >
      <mat-icon>fast_forward</mat-icon>
    </button>
  </span>
</p>

<div class="flex justify-center">
  <div class="flex flex-wrap gap-4 justify-center w-full xl:w-[1200px]">
    <ng-container *ngFor="let token of myTokens; let i = index">
      <div
        class="policyId w-full"
        *ngIf="i == 0 || token.maPolicyId != myTokens[i - 1].maPolicyId"
      >
        <a [routerLink]="['/latest']" [queryParams]="{ q: token.maPolicyId }">
          {{ token.maPolicyId }}
        </a>
      </div>
      <div class="w-full sm:w-[280px]">
        <app-latest-tokens-mini
          [tokenListItem]="token"
          (click)="details(token)"
        ></app-latest-tokens-mini>
      </div>
    </ng-container>
  </div>
</div>
