.container {
  margin-bottom: 20px;
}

mat-form-field {
  min-width: 300px;
}

.metadata-form-field {
  width: 810px;
  max-width: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.inline-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  mat-icon {
    font-size: 15px;
  }
}
