<form #nftForm="ngForm" (ngSubmit)="upload()">
  <fieldset [disabled]="drop.running">
    <!-- Name -->
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          name="name"
          [(ngModel)]="drop.name"
          [required]="true"
          placeholder="My NFT Drop"
        />
      </mat-form-field>
    </div>

    <!-- Price -->
    <div>
      <mat-form-field appearance="outline">
        <mat-label
          >Price per NFT in ₳, a fee of 1 ₳ will be deducted per
          transaction</mat-label
        >
        <input
          matInput
          name="priceAda"
          [(ngModel)]="priceAda"
          [required]="true"
          type="number"
          min="5"
        />
      </mat-form-field>
    </div>

    <!-- maxPerTransaction -->
    <div>
      <mat-form-field
        appearance="outline"
        matTooltip="How many NFTs can a buyer buy at once"
      >
        <mat-label>Maximum NFTs per transaction/whitelist entry</mat-label>
        <input
          matInput
          name="maxPerTransaction"
          [(ngModel)]="drop.maxPerTransaction"
          [required]="true"
          type="number"
          min="1"
        />
      </mat-form-field>
    </div>

    <!-- profitAddress -->
    <div>
      <mat-form-field appearance="outline" class="metadata-form-field">
        <mat-label>Profit address</mat-label>
        <input
          matInput
          name="profitAddress"
          [(ngModel)]="drop.profitAddress"
          [required]="true"
          placeholder="addr1..."
        />
      </mat-form-field>
    </div>

    <!-- whitelist -->
    <div>
      <mat-form-field class="metadata-form-field" appearance="fill">
        <mat-label>Whitelist</mat-label>
        <textarea
          name="whitelist"
          [(ngModel)]="whitelistString"
          matInput
          cdkTextareaAutosize
          placeholder="one address per line, e.g. stake1uxyt389wtpccs6t26f248d9qszgxmya2qc6a3k06jw2el9g42aktg"
          (change)="formatWhitelist()"
        ></textarea>
      </mat-form-field>
    </div>

    <!-- NFTs -->
    <div class="container">
      <mat-form-field class="metadata-form-field" appearance="fill">
        <mat-label>NFTs</mat-label>
        <textarea
          name="nftsString"
          [(ngModel)]="nftsString"
          matInput
          cdkAutosizeMaxRows="30"
          cdkTextareaAutosize
          (change)="nftsStringToDropNfts()"
        ></textarea>
        <mat-hint style="color: red">{{ parseError }}</mat-hint>
      </mat-form-field>
    </div>
  </fieldset>

  <div *ngIf="isPersited()" class="container">
    <h2>Payment address</h2>
    Users must send funds to this address in order to mint tokens:
    <br />
    <p>
      <a
        target="_blank"
        href="https://cardanoscan.io/address/{{ getAddress() }}"
        >{{ getAddress() }}</a
      >
      <button
        type="button"
        mat-icon-button
        class="inline-button"
        (click)="copyToClipboard(getAddress())"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </p>

    <h2>API Url</h2>
    <p>
      With this URL you can retrieve public information of your drop and show it
      on your page:
      <br />
      <a target="_blank" [href]="getApiUrl()">{{ getApiUrl() }}</a>
      <button
        type="button"
        mat-icon-button
        class="inline-button"
        (click)="copyToClipboard(getApiUrl())"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </p>

    <h2>Landingpage</h2>
    <p>
      You can use this landingpage with instructions how to buy for your users:
      <br />
      <a target="_blank" [href]="getPageUrl()">{{ getPageUrl() }}</a>
      <button
        type="button"
        mat-icon-button
        class="inline-button"
        (click)="copyToClipboard(getPageUrl())"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </p>
  </div>

  <div class="flex flex-row gap-2">
    <button mat-raised-button color="primary" [disabled]="drop.running">
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>
    <button
      mat-raised-button
      color="accent"
      *ngIf="isPersited() && !drop.running"
      type="button"
      (click)="start()"
    >
      <mat-icon>play_arrow</mat-icon>
      <span>Start</span>
    </button>
    <button
      mat-raised-button
      color="accent"
      *ngIf="isPersited() && drop.running"
      type="button"
      (click)="stop()"
    >
      <mat-icon>stop</mat-icon>
      <span>Stop</span>
    </button>
  </div>
</form>
