<h2 mat-dialog-title>
    Success
</h2>

<mat-dialog-content>
    <p>Your Transaction has been submitted it might take serveral minutes until it appears in the blockchain</p>

    <p style="text-align: center;" fyLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <b class="address"><a target="_blank" href="https://cardanoscan.io/search?filter=all&value={{transaction.txId}}">{{transaction.txId}}</a></b>
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>