<mat-dialog-content>
    <mat-card>
        <mat-card-content>
            <div class="title">
                <span *ngIf="token.metaData['name']">{{token.metaData['name']}}</span>
                <span *ngIf="!token.metaData['name']">{{token.name}}</span>
            </div>


            <div class="preview" fxLayout="row" fxLayoutAlign="center center">

                <div class="centered-icon-wrapper blink" fxLayout="column" fxLayoutAlign="center center" *ngIf="loading && token.metaData['image']">
                    <mat-icon class="big-icon" color="primary" fontSet="material-icons-outlined">
                        image
                    </mat-icon>
                </div>

                <img *ngIf="token.metaData['image']" [src]="toIpfsUrl(token.metaData['image'])" (load)="onLoad()" loading="lazy">
                <audio controls *ngIf="token.metaData['audio']" [src]="toIpfsUrl(token.metaData['audio'])" (load)="onLoad()"></audio>
                <video controls *ngIf="token.metaData['video']" [src]="toIpfsUrl(token.metaData['video'])" (load)="onLoad()"></video>

                <div class="centered-icon-wrapper" fxLayout="column" fxLayoutAlign="center center" *ngIf="!token.metaData['image'] && !token.metaData['audio'] && !token.metaData['video']">
                    <mat-icon class="big-icon" color="primary" fontSet="material-icons-outlined">generating_tokens</mat-icon>
                </div>

            </div>

            <div *ngIf="token.quantity > 1" class="title">
                {{token.quantity}}x
            </div>

            <table *ngIf="true" mat-table [dataSource]="tableData" class="mat-elevation-z8" fxHide.lt-md>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Value </th>
                    <td mat-cell *matCellDef="let element" title="{{element.value}}">
                        <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(element.value)">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                        <a *ngIf="element.name == 'PolicyId'" [routerLink]="['/latest']" [queryParams]="{q:element.value}" (click)="close()">{{element.value}}</a>
                        {{element.value}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" fxHide></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div fxHide.gt-sm>
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel *ngFor="let element of tableData">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{element.name}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <button type="button" class="inline-button" mat-icon-button (click)="copyToClipboard(element.value)">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        {{element.value}}
                    </mat-expansion-panel>
                </mat-accordion>
            </div>


        </mat-card-content>
    </mat-card>
</mat-dialog-content>