.preview {
  position: relative;
  min-height: 150px;
  width: 100%;
  height: 100%;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
  }
  audio {
    width: 100%;
    object-fit: scale-down;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  .big-icon {
    font-size: 100px;
    line-height: auto;
    width: auto;
    height: auto;
  }

  .centered-icon-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }

  @keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .blink {
    animation: flickerAnimation 2s infinite;
  }
}

table {
  width: 100%;
  table-layout: fixed;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-name {
  width: 100px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  mat-icon {
    font-size: 15px;
  }
}

::ng-deep .mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 90vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
