.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

pre {
  overflow: auto;
}

.inline-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  mat-icon {
    font-size: 15px;
  }
}
