<h1 class="mat-h1">Mint Cardano NFTs</h1>


<mat-horizontal-stepper linear="true" #stepper>

    <mat-step [stepControl]="nftForm.control">
        <ng-template matStepLabel>Configure NFTs</ng-template>
        <form #nftForm="ngForm" class="step-content">
            <div fxLayout="column" fxLayoutGap="15px">
                <!-- Token Cards-->
                <div>
                    <div fxLayout="row wrap" fxLayoutGap="10px grid">
                        <div class="token-wrapper" fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="33%"
                            fxFlex.gt-lg="25%" *ngFor="let token of mintOrderSubmission.tokens; let i = index">
                            <!-- Mint Card -->
                            <app-mint-form [token]=token></app-mint-form>
                            <!-- delete button -->
                            <button [fxHide]="mintOrderSubmission.tokens.length==1" (click)="removeToken(i)"
                                class="delete" mat-mini-fab>
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Buttons -->
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <!-- add token -->
                    <button mat-raised-button color="accent" type="button" (click)="addToken()">
                        <mat-icon>generating_tokens</mat-icon>
                        Add
                    </button>
                    <!-- next step -->
                    <button mat-raised-button color="primary" matStepperNext>
                        <mat-icon>fast_forward</mat-icon>
                        Proceed
                    </button>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="fundForm.control">
        <ng-template matStepLabel>Fund Account</ng-template>
        <form #fundForm="ngForm" class="step-content" fxLayoutAlign="center">
            <app-fund-account fxFlex="100%" fxFlex.gt-md="991px" 
            [account]="account" (updateAccount)="updateAccount()" 
            [mintTransaction]="mintTransaction" (updateMintTransaction)="updateMintTransaction()"
            [mintOrderSubmission]="mintOrderSubmission"
            ></app-fund-account>
        </form>
    </mat-step>

    <mat-step [stepControl]="reviewForm.control">
        <ng-template matStepLabel>Review and submit</ng-template>
        <form #reviewForm="ngForm" class="step-content" fxLayoutAlign="center">
            <app-mint-review-and-submit fxFlex="100%" fxFlex.gt-md="991px"
            [account]="account" 
            [mintTransaction]="mintTransaction" (updateMintTransaction)="updateMintTransaction()"
            ></app-mint-review-and-submit>
        </form>
    </mat-step>

</mat-horizontal-stepper>