<div class="grid-container">

    <h1 class="mat-h1">Mint Cardano NFTs</h1>
    <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()" fxLayout="column" fxLayoutGap="15px">

        <div fxLayout="column">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex.gt-lg="25%" appearance="outline">
                <mat-label>Account key</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div>
            <div fxLayout="row wrap" fxLayoutGap="10px grid">
                <div class="token-wrapper" fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex.gt-lg="25%"
                    *ngFor="let token of mintOrderSubmission.tokens; let i = index">
                    <app-mint-form [token]=token></app-mint-form>
                    <!-- delete button -->
                    <button [fxHide]="mintOrderSubmission.tokens.length==1" (click)="removeToken(i)" class="delete"
                        mat-mini-fab>
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>


        <div fxLayout="row" fxLayoutGap="10px">
            <button mat-raised-button color="accent" type="button" (click)="addToken()">
                <mat-icon>add</mat-icon>
                Add
            </button>
            <button mat-raised-button color="primary" type="submit">
                <mat-icon>savings</mat-icon>
                Mint
            </button>
        </div>


    </form>

</div>