.step-content {
  margin-top: 20px;
}

.token-wrapper {
  position: relative;
}

app-mint-token {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.delete {
  position: absolute;
  right: calc(10px - 15px);
  top: calc(0px - 15px);
  z-index: 2;
}

.inline-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  mat-icon {
    font-size: 15px;
  }
}